body,
h1,
h2,
ul,
li,
p,
dt,
dd,
dl {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #272727;
}
body {
  background-color: #fff8e8;
  color: #272727;
  display: grid;
  grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}
nav {
  grid-column: 3/5;
  margin: 40px 0;
  background-color: #f2b654;
  padding: 20px 40px;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Roboto";
}
li a {
  padding: 8px;
  display: block;
}
.grid-section {
  grid-column: 2/4;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  display: grid;
  grid-template-columns: 100px 300px 1fr;
  gap: 20px;
  margin-bottom: 40px;
}
.js .grid-section {
  opacity: 0;
  transition: 0.4s;
  transform: translate3d(-30px, 0, 0);
}
.js .grid-section.ativo {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.titulo {
  font-family: "Vollkorn";
  grid-column: 1/-1;
  font-size: 5rem;
  line-height: 1;
  color: #151515;
  font-weight: 500;
  text-transform: uppercase;
}
.animais p {
  font-family: "Roboto";
  /* padding: 10px; */
  margin-bottom: 1rem;
  line-height: 1.4;
}
.animais h2 {
  font-family: "Roboto";
  text-transform: uppercase;
  padding: 4px 20px;
  margin-bottom: 1rem;
}
.animais h2::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 10px;
  background-color: #f2b654;
  margin-right: 10px;
}
.animais-lista {
  height: 370px;
  overflow-y: scroll;
  grid-column: 2;
}
.animais-lista::-webkit-scrollbar {
  width: 18px;
}
.animais-lista::-webkit-scrollbar-thumb {
  background-color: #f2b654;
  height: 5px;
  border-radius: 10px;
  border: 5px solid transparent;
  background-clip: content-box;
}
.animais-desc {
  grid-column: 3;
}
.animais-desc section {
  margin-bottom: 2rem;
}
.faq-lista {
  grid-column: 2/-1;
}
.faq-lista dt {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 0.4rem;
  margin-top: 2rem;
}
.faq-lista dt::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 10px;
  background-color: #f2b654;
  margin-right: 10px;
}
.faq-lista dd {
  font-family: "Roboto";
  display: none;
}
.js .faq-lista dd.ativo {
  display: block !important;
  animation: slide_down 0.8s forwards;
}
.js .faq-lista dt::after {
  content: "⤵";
  margin-left: 4px;
}
.js .faq-lista dt.ativo::after {
  content: "⤴";
}
footer {
  grid-column: 3/-1;
  text-align: center;
  padding: 40px;
  background-color: #f2b55436;
  font-family: "Roboto";
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8rem;
}
.mapa {
  grid-column: 2;
}
.dados {
  grid-column: 3;
}
.dados li {
  margin-bottom: 1rem;
  font-family: "Roboto";
}
.dados li::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 10px;
  background-color: #f2b654;
  margin-right: 10px;
}
@media (max-width: 700px) {
  body {
    grid-template-columns: 1fr;
  }
  nav,
  .grid-section,
  footer {
    grid-column: 1;
  }
  nav {
    margin-top: 0px;
  }
  .grid-section {
    grid-template-columns: 100px 1fr;
    gap: 10px;
  }
  .animais-lista {
    grid-column: 1;
  }

  .faq-lista,
  .mapa,
  footer {
    grid-column: 1/-1;
  }
  .titulo {
    font-size: 3rem;
  }
  .animais h2 {
    font-size: 1rem;
  }
}

.js .js-tabcontent section {
  display: none;
}
.js-tabcontent section.ativo {
  display: block !important;
}
.js-tabcontent section.ativo.show-right {
  animation: show-right 0.5s forwards;
}
.js-tabcontent section.ativo.show-down {
  animation: show-down 0.5s forwards;
}
.js-tabmenu li {
  cursor: pointer;
}

@keyframes show-right {
  from {
    opacity: 0;
    transform: translate3d(30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes show-down {
  from {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slide_down {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-height: 80px;
  }
}
